* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}

$card-width: min(calc(80vw / var(--rows)), calc(65vh / var(--columns)));

@function multiplyCardWidth($factors...) {
  $factorsProduct: 1;
  @each $factor in $factors {
    $factorsProduct: $factorsProduct * $factor;
  }
  @return calc(#{$card-width} * #{$factorsProduct});
}

$card-height: multiplyCardWidth(1.1);
$table-gap: multiplyCardWidth(0.1);

.game {
  background-color: #99d98c;
  height: 100vh;
}

.game__go-back-icon {
  position: fixed;
  top: 1.2vh;
  left: 1vw;
  width: multiplyCardWidth(0.3);
  height: multiplyCardWidth(0.3);
}

.game__scoreboard {
  padding-top: multiplyCardWidth(0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(#{$card-width} * var(--rows) + #{$table-gap} * (var(--rows) - 1));
  margin: 0 auto;

  h3,
  h4 {
    display: flex;
    justify-content: flex-start;
  }

  h3 {
    font-size: multiplyCardWidth(0.25);
    margin: 0;
  }

  h4 {
    font-size: multiplyCardWidth(0.2);
    margin: 0;
  }
}

.game__table {
  padding-top: multiplyCardWidth(0.2);
  display: grid;
  grid-template-columns: repeat(var(--rows), $card-width);
  gap: $table-gap $table-gap;
  justify-content: center;
}

@import './cards.scss';
