$flipTransitionDuration: 0.8s;

.game__table__card {
  //background-color: transparent;
  width: $card-width;
  height: $card-height;
  perspective: 1000px;
}

.game__table__card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  //transition: transform $flipTransitionDuration;
  transform-style: preserve-3d;
}

// .game__table__card:hover .game__table__card__inner {
//   transform: rotateY(180deg);
// }

.game__table__card__front,
%game__table__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  font-size: multiplyCardWidth(0.28);
  user-select: none;
  border-style: solid;
  border-width: multiplyCardWidth(0.015);
}

.game__table__card__front {
  background-color: #bbb;
  color: black;
}

%game__table__card__back {
  transform: rotateY(180deg);
}

.game__table__card__back--ocean {
  @extend %game__table__card__back;
  background-color: #457b9d;
  color: #a8dadc;
  border-color: #a8dadc;
}

.game__table__card__back--orange {
  @extend %game__table__card__back;
  background-color: #e76f51;
  color: #f4a261;
  border-color: #f4a261;
}

.game__table__card__back--vanilla {
  @extend %game__table__card__back;
  background-color: #fed9b7;
  color: #640a0ac5;
  border-color: #640a0a49;
  //border: #640a0a49 2px solid;
}

.game__table__card__back--tulip {
  @extend %game__table__card__back;
  background-color: #d67ab1;
  color: #f1e4f3;
  border-color: #f1e4f3;
  //border: #f1e4f3 2px solid;
}

.game__table__card__back--leaf {
  @extend %game__table__card__back;
  background-color: #0b525b;
  color: #b5e4eb;
  border-color: #212f45;
  //border: #212f45 2px solid;
}

.game__table__card__back--cloud {
  @extend %game__table__card__back;
  background-color: #495867;
  color: #ecc8af;
  border: #ecc8af 2px solid;
}

.game__table__card__back--love {
  @extend %game__table__card__back;
  background: linear-gradient(to right, #3a6186, #89253e);
  color: white;
  border-color: white;
  //border: 1px solid white;
}

.fadeOut {
  animation: fadeOut 0.7s $flipTransitionDuration forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
